<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="5">
<listeners>
<listener class-name="com.testng.Listeners"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.testng.Sample">
      <methods>
      <exclude name="mobile.*"></exclude>
      </methods>
      </class>
      <class name="com.testng.Sample4">
      <methods>
      <include name="api.*"></include>
      </methods>
      </class>
      
     <class name="com.testng.Sample3">
      <methods>
      <exclude name="sixthMethod"></exclude>
      </methods>
      </class>
      <class name="com.testng.Sample2">
      <methods>
      <include name="api.*"></include>
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
